.header {
    height: 100px;
    width: 100%;
    line-height: 4; /*change position the text of headers in html files*/
}

.circle:before {
    content: ' \25CF';
    font-size: 7px;
    color: #999999;
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    cursor: pointer;
}

div.rotate {
    transform: rotate(90deg);
}

.center {
    text-align: center;
}

/*for place addEmployee btn and sort btn and Employee list beside together */
#parent {
    display: flex;
}

#narrow {
    width: 200px;
    height: 45px;
}

#narrow2 {
    width: 90px;
    height: 45px;
}

#wide {
    flex: 1;
}


/*for place addEmployee btn and sort btn and Employee list beside together */


.centerButton {
    margin: auto;
    width: 30%;
}