<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/script.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/alert.css}"/>

</head>
<body>



<div class="registration-form">
    <form th:action="@{/login}" method="post">

        <!-- logout message -->
        <div th:if="${param.logout}" class="notification" role="alert">
            <div class="alert alert-info alert-white rounded">
                <button type="button" data-dismiss="alert" aria-hidden="true" class="close">×</button>
                <div class="icon">
                    <i class="fa fa-info-circle"></i>
                </div>
                <strong>Info!</strong>
                You have been logged out.
            </div>
        </div>

        <div th:if="${param.error}" class="notification" role="alert">
            <div class="alert alert-danger alert-white rounded">
                <button type="button" data-dismiss="alert" aria-hidden="true" class="close"></button>
                <div class="icon">
                    <i class="fa fa-times-circle"></i>
                </div>
                <strong>Error!</strong>
                Invalid username or password!
            </div>
        </div>


        <div class="form-icon">
            <span><i class="icon icon-user"></i></span>
        </div>

        <div class="form-group">
            <input type="text" class="form-control item" id="username" name="username" placeholder="Email">


        </div>

        <div class="form-group">
            <input type="password" class="form-control item" id="password" name="password" placeholder="Password">

        </div>

        <div class="form-group">
            <span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
        </div>

        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit" name="login-submit" id="login-submit"
                       class=" btn btn-block create-account" value="Log In"/>
            </div>
        </div>


    </form>

    <div class="social-media">
        <h5>Sign up with social media</h5>
        <div class="social-icons">
            <a href="#facebook"><i class="icon-social-facebook" title="Facebook"></i></a>
            <a href="#google"><i class="icon-social-google" title="Google"></i></a>
            <a href="#twitter"><i class="icon-social-twitter" title="Twitter"></i></a>
        </div>
    </div>
</div>


</body>
</html>